body {
  background-color: #f0e4d8;
}

h1 {
  font-family: "Pattaya", sans-serif;
  color: #333;
  font-size: 2rem;
}

.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  background-color: #bfff00;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #bfff00;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
